<div class="candidatos-container">
    <div class="candidato">
      <img src="../assets/PAN2006.jpg" alt="Morena">
      <p>Felipe Calderón Hinojosa (PAN)</p>
    </div>
    <div class="candidato">
      <img src="../assets/PRD2006.jpg" alt="Morena">
      <p>Andrés Manuel López Obrador (PRD)</p>
    </div>
    <div class="candidato">
      <img src="../assets/PRI2006.jpg" alt="Morena">
      <p>Roberto Madrazo Pintado (PRI)</p>
    </div>
    <div class="candidato">
      <img src="../assets/PASC2006.jpg" alt="Morena">
      <p>Patricia Mercado Castro (PASC)</p>
    </div>
    <div class="candidato">
        <img src="../assets/PANAL2006.jpg" alt="Morena">
        <p>Roberto Campa Cifrián (PANAL)</p>
    </div>
</div>


<div class="chart-container">
    <div style="width: 800px; height: 600px;">
        <h1>Votos por candidato</h1>
        <canvas id="my-chart5"></canvas>
        <h1>Votos por partido</h1>
        <canvas id="my-chart6"></canvas>
    </div>
</div>