<div class="candidatos-container">
    <div class="candidato">
      <img src="../assets/PRI2012.jpg" alt="Morena">
      <p>Enrique Peña Nieto (PRI)</p>
    </div>
    <div class="candidato">
      <img src="../assets/PRD2012.jpg" alt="Morena">
      <p>Andrés Manuel López Obrador (PRD)</p>
    </div>
    <div class="candidato">
      <img src="../assets/PAN2012.png" alt="Morena">
      <p>Josefina Vázquez Mota (PAN)</p>
    </div>
    <div class="candidato">
      <img src="../assets/PANAL2012.jpg" alt="Morena">
      <p>Gabriel Quadri de la Torre (PANAL)</p>
    </div>
</div>

<div class="chart-container">
    <div style="width: 800px; height: 600px;">
        <h1>Votos por candidato</h1>
        <canvas id="my-chart3"></canvas>
        <h1>Votos por partido</h1>
        <canvas id="my-chart4"></canvas>
    </div>
</div>