<div class="candidatos-container">
    <div class="candidato">
      <img src="../assets/Morena2018.jpg" alt="Morena">
      <p>Andrés Manuel López Obrador (Morena)</p>
    </div>
    <div class="candidato">
      <img src="../assets/PAN2018.jpg" alt="Morena">
      <p>Ricardo Anaya Cortés (PAN)</p>
    </div>
    <div class="candidato">
      <img src="../assets/PRI2018.jpg" alt="Morena">
      <p>José Antonio Meade Kuribreña (PRI)</p>
    </div>
    <div class="candidato">
      <img src="../assets/IND2018.jpg" alt="Morena">
      <p>Jaime Rodríguez Calderón (IND)</p>
    </div>
</div>

<div class="chart-container" >
    <div style="width: 800px; height: 600px;">
        <h1>Votos por candidato</h1>
        <canvas id="my-chart"></canvas>
        <h1>Votos por partido</h1>
        <canvas id="my-chart2"></canvas>
    </div>
</div>