.candidatos-container{
    display: flex;
    justify-content: center;
}

.candidato{
    margin: 10px;
}

img{
    width: 100px;
    height: 100px;
}

.chart-container{
    display: flex;
    justify-content: center;
}