<div class="candidatos-container">
    <div class="candidato">
      <img src="../assets/PAN.png" alt="Morena">
      <p>Partido Acción Nacional</p>
    </div>
    <div class="candidato">
      <img src="../assets/PRI.png" alt="Morena">
      <p>Partido Revolucionario Institucional</p>
    </div>
    <div class="candidato">
      <img src="../assets/PRD.png" alt="Morena">
      <p>Partido de la Revolución Democrática</p>
    </div>
    <div class="candidato">
      <img src="../assets/PT.png" alt="Morena">
      <p>Partido del Trabajo</p>
    </div>
    <div class="candidato">
        <img src="../assets/VERDE.png" alt="Morena">
        <p>Partido Verde Ecologista de México</p>
      </div>
    <div class="candidato">
        <img src="../assets/NARANJA.png" alt="Morena">
        <p>Movimiento Ciudadano</p>
    </div>
    <div class="candidato">
        <img src="../assets/ALIANZA.png" alt="Morena">
        <p>Partido Nueva Alianza</p>
    </div>
    <div class="candidato">
        <img src="../assets/ALTERNATIVA.png" alt="Morena">
        <p>Partido Alternativa Socialdemócrata y Campesina</p>
    </div>
</div>

<div class="chart-container" >
    <div style="width: 800px; height: 600px;">
        <h1>Distribución de votos entre los partidos</h1>
        <canvas id="my-chart7"></canvas>
        <!-- <h1>Votos por partido</h1>
        <canvas id="my-chart2"></canvas> -->
    </div>
</div>